<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">About&nbsp;Drobo Decrypt Diags {{ .Version}}</h3>
                            </div>
                            <div class="panel-body">
                                <p>The DecryptDiags utility and webpage allows encrypted diags captured from
                                    a Drobo to be managed and decrypted
                                    <br>
                                    <br>
                                    <b><u>Usage</u>
                                    </b><br>
                                    <br>-w | -web : Create a website to managing encrypted diags running on the
                                    local PC (localhost). The default port is 8000, but this can be overloaded
                                    with -wp | -webport
                                    <br>
                                    <br>-w p | -webport : Overide the default port used for the webserver
                                    <br>
                                    <br>
                                    <b>
                                        <u>Extra info
                                            <br>
                                        </u>
                                    </b>
                                    <br>An uploads directory will be created in the current working directory
                                    to store uploaded diags files. To access previously uploaded diag files,
                                    run from the same directory as previously.
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="col-sm-6"> <h3></h3><a class="btn btn-primary" href="/">Main menu</a> </div>
    

</body></html>